$font: Source Sans Pro, sans-serif;
$dark_blue: #284377;

body{
    font-family: $font;
}
.product_list{
    border: 1px solid $dark_blue;
    margin: 2% 3%;
    text-align:center;
    color:$dark_blue;
}

.product_list input {
    float:left;
    margin-top: 2%;
    margin-left: 2%;
}

.btn{
    padding:10px;
    margin-top:20px;
}

#action{
    margin-top:20px;
}

.container-fluid{
    width:90%;
}

.full_width{
    width:90%;
}

.half_width{
    width:45%;
}

.float_left{
    float:left;
}

.float_right{
    float:right;
}

.type_furniture, .type_book{
    display:none;
}

#success{
    color:green;
}

#save{
    margin-right:10px;
}